<div class='book-new'>
   <%= link_to book_path(book.id), method: :get do %>
    
    
     <%= image_tag book.image , class: 'book-img'%>
    
     <%end%>
      <%= link_to book_path(book.id), method: :get do %>
    <%=  book.title%>
    <%end%>
    <%= book.review%>
    <%= book.price%>円
    <%= book.author%>
    <%= book.category[:name] %>
    <% if user_signed_in? && current_user.id == book.user_id %>
    </div>
    <%= link_to '編集', edit_book_path(book.id), method: :get, class: "item-red-btn" %>
/
    <%= link_to '削除', book_path(book.id), method: :delete, class:'item-destroy' %>
    <% else  %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%= link_to '詳細', book_path(book.id),class:"item-red-btn"%>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <% end %>

    <p>出版社 <%= raw(book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
  </div>