
<%if @books.present?%>
<% @books.each do |book| %>
  <%= book.title %>
   <%= image_tag book.image , class: 'book-img'%>
     
      <%= link_to book_path(book.id), method: :get do %>
   
    
    <%= book.price%>円
    <%= book.author%>
    <%= book.category[:name] %>
     <% end %>
     <%end%>
     <%else%>

     <h1 class="searchtitle">選択したカテゴリーに該当する投稿はありません</h1>
  <%end%>
  <br>
<h2 class="returnlink"><%= link_to 'トップページへ戻る', root_path %></h2>
 
 


