<%= javascript_pack_tag "raty" %>
<div class='post-con'>
  <div class='side-bar'>
    <% @categorys.each do |category|%>
      <ul>
        <li class="cate-con">
          <%= link_to "#{category.name}", category_book_path(category.id)%>
        </li>
      </ul>
    <%end%>
  </div>
  </div class="book-con">      
    <% @books.each do |book| %>
      <div class='book-new'>
        <%= link_to book_path(book.id), method: :get do %>
          <%= image_tag book.image , class: 'book-img'%>
        <%end%>
        レビュー  <%= book.review %>
        <%= link_to book_path(book.id), method: :get do %>
          <%=  book.title%>
        <%end%>
        <%= book.created_at.strftime('%Y/%m/%d')%>に投稿
        <%=link_to book.user.nickname, user_path(book.user.id)%>
        <%= book.price%>円
        <%= book.author%>
        <%= book.category[:name] %><br>
        <%= book.description%>
        <div id="star-rate-<%= book.id %>"></div>
          <script>
            $('#star-rate-<%= book.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= book.star %>,
            });
          </script>  
          <% if user_signed_in? %>
            <span class="favorite_<%= book.id %>" >
              <%= render "like", book: book %>
            </span>
          <% else %>
            <i class="fas fa-heart" style="color: #F96167"></i>
            <span style="color:black">
              <%= book.likes.count %>
            </span>
          <% end %>
        </div>
        <p>出版社 <%= raw(book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
      </div>
    <% end %>
      </div>
</div>
