<%= javascript_pack_tag "raty" %>
<div class='wrapper'>
  <div class='side-bar'>
    <h3 class='side-title'>カテゴリーで検索</h3>
    <ul class="categorise">
      <% @categorys.each do |category|%>
        <li class="cate-name">
          <%= link_to "#{category.name}", category_book_path(category.id)%>
        </li>
      <%end%>
    </ul>
  </div>

  <div class='book-new clearfix'>
    <p class=review-areatitle><span class="mgl-10">新着レビュー</span></p>
    <% @books.each do |book| %>
      <div class='book-contena clearfix'>
        <%= link_to book_path(book.id), method: :get do %>
          <div class="review-img">
            <%= image_tag book.image , class: 'book-img anot'%>
          </div>
        <%end%>

        <div class="review-area">
            <%= link_to book_path(book.id), method: :get  do %>
              <div class="titles"><%= truncate(book.title,length: 18)%></div>
            <%end%>
            <p><%= book.author%></p>
            <p class="review-space"><%=safe_join(book.review.split("\n"),tag(:br))%></p>
            <div id="star-rate-<%= book.id %>"></div>
            <p><%= book.created_at.strftime('%Y/%m/%d')%>に投稿</p>
            <p><%= book.category[:name] %><p>
            <% if user_signed_in? %>
              <span class="favorite_<%= book.id %>" >
                <%= render "like", book: book %>
              </span>
            <% else %>
            <i class="fas fa-heart" style="color: #F96167"></i>
                <%= book.likes.count %>
             
            <% end %>
            <p>出版社 <%= raw(book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
        </div>
        <div class="member-img">
          <% if book.user.image? %>
            <img src='<%= book.user.image %>' class="post-icon" alt="ユーザーアイコン">
          <% else %>
            <img src="/assets/default.jpg" class="post-icon" alt="ユーザーアイコン" >
          <% end %>
          <p class="usernickname"><%=link_to book.user.nickname, user_path(book.user.id)%>さんの投稿</p>
        </div>
          <script>
            $('#star-rate-<%= book.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= book.star %>,
            });
          </script>  
      </div>
    <% end %>
    <%= paginate @books %>
  </div>
</div>

