<div class='main'>
<%= render "shared/header" %>
    <% @books.each do |book| %>
<div class='new-book'>
  <div class='book-wrap'>
    <% if book.image.attached?%>
     <%= image_tag book.image , class: 'book-image'%>
     <% end %>
    <%=  book.name%>
    <%= book.price%>円
    <%= book.author%>
    <%= book.status[:name] %>
    <%= book.category[:name] %>
    <% if user_signed_in? && current_user.id == book.user_id %>
    <%= link_to '編集', edit_book_path(book.id), method: :get, class: "item-red-btn" %>
/
    <%= link_to '削除', book_path(book.id), method: :delete, class:'item-destroy' %>
    <% else  %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%= link_to '詳細', book_path(book.id),class:"item-red-btn"%>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <% end %>

    <p>出版社 <%= raw(book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
  </div>
 <% end %>
 
<% @categorys.each do |category|%>
<li>
  <%= link_to "#{category.name}", category_book_path(category.id)%>
</li>
<%end%>
 
</div>
</div>