
<%= link_to '登録', new_user_registration_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to 'ログイン', new_user_session_path %>

    <%= link_to '投稿する', new_book_path %>
    <% @books.each do |book| %>
<div class='new-book'>
    <% if book.image.attached?%>
     <%= iamge_tag book.image%>
     <% end %>
    <%= book.name%>
    ¥<%= book.price%>
    <%= book.author%>
    <%= book.status[:name] %>
    <%= book.category[:name] %>
    
    <p>出版社 <%= raw(book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
       <% end %>

    
</div>