  <%= form_with model: @book, local: true do |f| %>
   <%= render 'shared/error_messages', model: f.object %>
    <div class='book-new'>
   イメージ
     <%= f.file_field :image %>
     <div class='book-whie'>
     本のカテゴリー
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"book-category"}) %>
      </div>
     
     <div class='book-whie'>
     本の名前
     <%= f.text_area :name, class:"input-default", id:"name" %>
     </div>
     <div class='book-whie'>
     値段
     ¥<%= f.text_area :price, class:"input-default", id:"price" %>
     </div>
     <div class='book-whie'>
     作者
          <%= f.text_area :author, class:"input-default", id:"author" %>
      </div>
      <div class='book-whie'>
      出版社
         <%= f.text_field :tag_list, value:@book.tag_list.join('') %>
         </div>
         <div class='book-whie'>
      レビュー
         <%= f.text_area :review, class:"input-text", id:"review" %>
         </div>
         <%= f.submit '投稿する'%>
    </div>
  <%end%>
