<% if @results.length !=0 %>
  <% @results.each do |result| %>
  <ul>
    <li>
      <%= result.title %>
      <%= image_tag result.image ,class: 'book-img'%>
      <%= result.price %>円
      <%= result.category.name %>
    </li>
  </ul>
  <% end %>
<% else %>
  <h1 class="searchtitle">検索結果０件</h1>
<% end %>
<br>
<h2 class="returnlink"><%= link_to 'トップページへ戻る', root_path %></h2>