 <%= link_to book_path(@book.id), method: :get do %>
    
    
     <%= image_tag @book.image , class: 'book-img'%>
    
     <%end%>
      <%= link_to book_path(@book.id), method: :get do %>
    <%=  @book.title%>
    <%end%>
    <%= @book.review%>
    <%= @book.price%>円
    <%= @book.author%>
    <%= @book.category[:name] %>
    <%= link_to 'top', root_path%>
   <span class="favorite_<%= @book.id %>" >
							    		<%= render "like", book: @book %>
									</span>