 
    
    
     <%= image_tag @book.image , class: 'book-img'%>
    
     
      
    <%=  @book.title%>
   
    <%= @book.review%>
    <%= @book.price%>円
    <%= @book.author%>
    <%= @book.category[:name] %>
    <% if user_signed_in? && current_user.id == @book.user_id %>
          <%= link_to '編集', edit_book_path(@book.id), method: :get, class: "item-red-btn" %>/
          <%= link_to '削除', book_path(@book.id), method: :delete, class:'item-destroy' %>
        <% end %>
   <span class="favorite_<%= @book.id %>" >
							    		<%= render "like", book: @book %>
									</span>